@page
@model Betterki.Pages.IndexModel
<link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
<!--<h1>Złote Betterki</h1>-->
@if (TempData["Message"] != null)
{
    <div class="alert-info-box">
        @TempData["Message"]
    </div>
}
@if (HttpContext.Session.GetString("Blacha") == null)
{
    <form method="post" asp-page-handler="Zaloguj" class="login-form">
        <label for="Blacha">Podaj imię i nazwisko (IC):</label>
        <input type="text" name="ImieNazwisko" required />

        <label for="Haslo">Hasło:</label>
        <input type="password" name="Haslo" required />

        <button type="submit">Zaloguj</button>
    </form>
    return;
}

<div class="kategorie-container">
    @foreach (var kategoria in Model.Dane)
    {
        <div class="kategoria-box" id="kat_@kategoria.Key.Replace(" ", "%20")">
            <h2>@kategoria.Key</h2>
            <div class="filmy-row">
                @if (Model.KategorieZGlosami.Contains(kategoria.Key))
                {
                    <div class="glosowano-info">Już głosowałeś w tej kategorii!</div>
                }
                else
                {
                    @foreach (var klip in kategoria.Value.Klipy)
                    {
                        <div class="klip-box">
                            @if (klip.EndsWith(".mp4", StringComparison.OrdinalIgnoreCase))
                            {
                                <video controls>
                                    <source src="@Url.Content($"~/klipy/{klip}")" type="video/mp4" />
                                </video>
                            }
                            else if (klip.EndsWith(".png", StringComparison.OrdinalIgnoreCase) || klip.EndsWith(".jpg", StringComparison.OrdinalIgnoreCase))
                            {
                                <img src="@Url.Content($"~/klipy/{klip}")" class="klip-obraz" />
                            }

                            <div class="klip-nazwa">
                                @System.IO.Path.GetFileNameWithoutExtension(klip.Replace("\\", "/").Split('/').Last())
                            </div>
                            <form method="post" asp-page-handler="Glosuj">
                                <input type="hidden" name="kategoria" value="@kategoria.Key" />
                                <input type="hidden" name="klip" value="@klip" />
                                <button type="submit" class="glosuj-button">Głosuj</button>
                            </form>
                        </div>
                    }
                }
            </div>

        </div>
    }
</div>


